<h2>Create a new drone</h2>
<div id="create-dron-div">

<form id="create-dron-form" action="/drones/create" method="POST">
    <label for="name" >Nombre</label>
    <input type="text" name="name">
    <br>
    <label for="propellers">Propulsores</label>
    <input type="text" name="propellers">
    <br>
    <label for="maxSpeed">Velocidad</label>
    <input type="text" name="maxSpeed">
    <br>
    <div id="create-dron-form-button-div">

      <button>Añadir</button>  
    </div>
</form>
</div>